/* ---------- Main Section ---------- */
main {
    background-color: #f9fafc;
    min-height: calc(100vh - 8vh);
    display: flex;
    justify-content: center;
}

.container {
    height: 100%;
    width: 52%;
    padding: 2rem 1rem;
}

/* ---------- Heading ---------- */
.heading-title {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.9rem;
    color: #003ffe;
    font-weight: 700;
    text-align: center;
}
.heading-info {
    width: 100%;
    color: #4b5563;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* ---------- Form ---------- */
form {
    width: 96%;
    height: auto;
    background-color: white;
    border: 0.08rem solid rgb(209 213 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem 1.5rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.6s ease-out forwards;
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.layer1 {
    width: 100%;
    margin-bottom: 0.8rem;
}
.form-title {
    font-size: 1.5rem;
    color: #020817;
    font-weight: 500;
}
.form-title i {
    color: #003ffe;
    font-size: 1.4rem;
    padding-right: 0.3rem;
}
.form-info {
    color: #64748b;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.input1, .input2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    color: #020817;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.userNameBox, .userEmailBox {
    height: 2.8rem;
    width: 98%;
    border-radius: 0.5rem;
    border: 0.15rem solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .userNameBox:focus-within, .userEmailBox:focus-within {
    border: 0.15rem solid black;
} */

.userName, .userEmail {
    height: 2.4rem;
    width: 100%;
    border-radius: 0.3rem;
    border: 0.08rem solid rgb(218, 220, 225);
    padding-left: 0.5rem;
    outline: none;
    transition: box-shadow 0.2s ease;
}
.userName:focus, .userEmail:focus {
    box-shadow: 0 0 0 2px #4184f5;
    border-color: #4184f5;
}

.rate-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}
.stars-container {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 0.2rem;
}
.star {
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(218, 220, 225);
    background-color: white;
    font-size: 1rem;
    border: 1px solid rgb(218, 220, 225);
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.selected {
    color: #facc15;
    background-color: #fffbeb;
    border: 1px solid #facc15;
}

.star:hover {
    background-color: #f1f4f9 !important;
}

.msg-container {
    width: 99%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
textarea {
    min-height: 6rem;
    width: 100%;
    background-color: white;
    border-radius: 0.3rem;
    border: 0.08rem solid rgb(218, 220, 225);
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    outline: none;
    resize: vertical;
    transition: box-shadow 0.2s ease;
}
.msg-box {
    min-height: 6.9rem;
    height: relative;
    border-radius: 0.5rem;
    border: 0.15rem solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea:focus-within {
    box-shadow: 0 0 0 2px #4184f5;
    border-color: #4184f5; /* border: 0.15rem solid black; */
}

button {
    background-color: #0f172a;
    color: #faf8fc;
    font-weight: 500;
    border-radius: 0.4rem;
    border: none;
    padding: 0.6rem 0.9rem;
    cursor: pointer;
}
button i {
    padding-right: 0.6rem;
}
button:hover {
    background-color: #424346;
}

.foot {
    width: 100%;
    background-color: #f9fafb;
    color: #6b7280;
    font-size: 0.9rem;
    border: 0.08rem solid rgb(218, 220, 225);
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.9rem 0.5rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.6s ease-out forwards;
}

/* ---------- Responsive Style Code ---------- */
@media (max-width: 767px) { /* Mobile (Portrait) */
    header {
        max-width: 100%;
        padding: 0 4%;
        /* gap: 10%; */
    }
    .logo {
        font-size: 1.2rem;
    }
    .header-right {
        width: 38%;
        justify-content: flex-end;
        gap: 5%;
    }
    .header-right p {
        display: none;
    }
    .home-box, .announcement-box, .feedback-box {
        gap: 0;
        padding: 0.5rem 0.5rem;
    }
    .home-box i, .announcement-box i, .feedback-box i {
        font-size: 1.2rem;
    }
    .container {
        width: 100%;
        padding: 1rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .heading {
        width: 80%;
    }
    form, .foot {
        max-width: 85%;
    }
    .input-container {
        flex-direction: column;
        gap: 0.5rem;
    }
    button {
        width: 99%;
    }
}

@media (min-width: 767px) and (max-width: 1024px) { /* Medium [Tablets and small laptops] */
    header {
        max-width: 100%;
        padding: 0 4%;
    }
    .logo {
        font-size: 1.5rem;
    }
    .header-right {
        justify-content: flex-end;
        gap: 0;
    }
    .home-box, .announcement-box, .feedback-box {
        padding: 0.5rem 0.8rem;
    }
    .header-right p {
        font-size: 0.9rem;
    }
    .container {
        min-width: 95%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .heading {
        width: 100%;
    }
    form, .foot {
        width: 93.5%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) { /* Laptops and Desktops */
    header {
        max-width: 100%;
        padding: 0 4%;
    }
    .header-right {
        justify-content: flex-end;
        gap: 0;
    }
    .header-right p {
        font-size: 1rem;
    }
    .container {
        min-width: 75%;
        max-width: 100%;
    }
    .heading {
        width: 100%;
    }
    .foot {
        width: 96%;
    }
}