* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    max-width: 100vw;
}
/* body::-webkit-scrollbar {
    display: none;
} */

/* ---------- Header ---------- */
header {
    height: 8vh;
    max-width: 100%;
    background-color: white;
    border-bottom: 1px solid #dadee5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
}
.logo {
    text-decoration: none;
    color: #3980ed;
    font-size: 1.3rem;
    font-weight: 700;
}
.header-right {
    height: 100%;
    width: 29.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 0.8rem; */
}
.home-box, .announcement-box, .feedback-box {
    /* height: 1rem; */
    width: auto;
    padding: 0.5rem 1rem;
    align-items: center;
    border: 0.5px solid transparent;
    display: flex;
    gap: 0.3rem;
}
.home-box:hover, .announcement-box:hover, .feedback-box:hover {
    background-color: #f1f4f9;
    border-radius: 0.5rem;
}
.header-right a {
    text-decoration: none;
    cursor: pointer;
    color: #3d3e3e; /*#020817*/
    font-size: 0.9rem;
    font-weight: 500;
}
.home-box i, .announcement-box i, .feedback-box i {
    font-size: 1rem;
}

/* ---------- Main Section ---------- */
main {
    background-color: #f9fafc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    height: 100%;
    width: 82%;
    padding: 2rem 1rem;
}

/* ---------- Heading ---------- */
.heading-title {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: #111827;
    font-weight: 700;
}

/* ---------- Upper Box ---------- */
.upper-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.upper-box1, .upper-box2 {
    width: 65%;
    height: 100%;
    background-color: white;
    border: 0.08rem solid rgb(209 213 219);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.upper-box2 {
    width: 33%;
    gap: 0.6rem;
}

.title {
    width: 100%;
    font-size: 1.3rem;
    color: #020817;
    font-weight: 500;
}

.published-date {
    width: 100%;
    color: #6b7280;
    font-size: 0.9rem;
}

.announcement-info {
    width: 100%;
    color: #4b5563;
    font-size: 1rem;
}

.tags-title {
    width: 100%;
    color: #374151;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.6rem;
}
.tags-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.9rem;
}
.tags {
    width: auto;
    height: auto;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #f3f4f6;
    color: #020817;
    padding: 0.3rem 0.5rem;
    border: 0.08rem solid rgb(209 213 219);
    border-radius: 1rem;
}

.clg-announcement-website {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.7rem;
    background-color: white;
    border: 0.08rem solid rgb(209 213 219);
    border-radius: 0.5rem;
    color: #020817;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clg-announcement-website:hover {
    background-color: #f1f5f9;
    color: #0f172a;
    cursor: pointer;
}

.info-title {
    color: #6b7280;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.8rem;
}
.info-content {
    margin-top: 0;
    font-size: 1rem;
    color: #111827;
}
#deadline {
    color: #dc2626;
    font-weight: 500;
}
.clg-website {
    text-decoration: none;
    font-size: 0.9rem;
    color: #2563eb;
}
.clg-website:hover {
    text-decoration: underline;
}

/* ---------- Lower Box ---------- */
.lower-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.lower-heading {
    color: #111827;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.programs-container {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    grid-auto-flow: row;
    grid-gap: 1.2rem;
}
.clg-box {
    width: auto;
    height: auto;
    background-color: white;
    border: 0.08rem solid rgb(209 213 219);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    gap: 0.7rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.6s ease-out forwards;
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.clg-box:hover {
    box-shadow: 1.5px 0.8px 5px rgba(0, 0, 0, 0.2);
}

.program-name {
    width: 100%;
    font-size: 1.1rem;
    color: #020817;
    font-weight: 500;
}
.degree-level {
    width: auto;
    height: auto;
    background: none;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border: 0.08rem solid rgb(209 213 219);
    border-radius: 1rem;
}
.program-info {
    font-size: 1rem;
    color: #374151;
}
.duration-months {
    color: #6b7280;
    font-size: 0.9rem;
}

/* ---------- Responsive Style Code ---------- */
@media (max-width: 767px) { /* Mobile (Portrait) */
    header {
        max-width: 100%;
        padding: 0 4%;
        /* gap: 10%; */
    }
    .logo {
        font-size: 1.2rem;
    }
    .header-right {
        width: 38%;
        justify-content: flex-end;
        gap: 5%;
    }
    .header-right p {
        display: none;
    }
    .home-box, .announcement-box, .feedback-box {
        gap: 0;
        padding: 0.5rem 0.5rem;
    }
    .home-box i, .announcement-box i, .feedback-box i {
        font-size: 1.2rem;
    }
    main {
        padding: 1rem 1rem;
    }
    .container {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .upper-box {
        width: 100%;
        flex-direction: column;
    }
    .upper-box1, .upper-box2 {
        width: 90%;
    }
    .tags-container {
        flex-wrap: wrap;
    }
    .lower-heading {
        margin-top: 1rem;
    }
    .programs-container {
        grid-template-columns: repeat(1, 100%);
    }
}

@media (min-width: 767px) and (max-width: 1024px) { /* Medium [Tablets and small laptops] */
    header {
        max-width: 100%;
        padding: 0 4%;
    }
    .logo {
        font-size: 1.5rem;
    }
    .header-right {
        justify-content: flex-end;
        gap: 0;
    }
    .home-box, .announcement-box, .feedback-box {
        padding: 0.5rem 0.8rem;
    }
    .header-right p {
        font-size: 0.9rem;
    }
    main {
        padding: 2rem 1rem;
    }
    .container {
        min-width: 95%;
        max-width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .heading {
        width: 100%;
    }
    .programs-container {
        grid-template-columns: repeat(2, 49%);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) { /* Laptops and Desktops */
    header {
        max-width: 100%;
        padding: 0 4%;
    }
    .header-right {
        justify-content: flex-end;
        gap: 0;
    }
    .header-right p {
        font-size: 1rem;
    }
    .container {
        min-width: 90%;
        max-width: 100%;
        padding: 1rem 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}